# Gaming Data

## Loading data

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv('Resources/purchase_data.csv')

## Exploration

### Total number of players

In [5]:
# Count unique players
player_count = purchase_data['SN'].nunique()

pd.DataFrame({'Count of players':[player_count]})

   Count of players
0               576

### Demographics

In [15]:
# Group by gender and count them
gender_group = purchase_data.groupby(['Gender'])
count_gender = gender_group['SN'].nunique()
percentage_players = count_gender/player_count*100

In [17]:
# Create data frame and add formatting
gender_demographics = pd.DataFrame({'Total Count': count_gender, 'Percentage of Players': percentage_players})
format_df = {'Percentage of Players':'{:.2F}%'}

In [20]:
# Results
gender_demographics.sort_values(by=['Total Count'],ascending=False).style.format(format_df)

In [6]:
# Create bins and labels
bins = [0,9,14,19,24,29,34,39,np.inf]
age_labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Categorize players with age bins and add column into dataframe
age_demographics = pd.cut(purchase_data['Age'],bins=bins,labels=age_labels)
purchase_data['Age Group'] = age_demographics
purchase_data.head()

# Group by age groups and count them
ages_group = purchase_data.groupby(['Age Group'])
count_ages = ages_group['SN'].nunique()
percentage_ages = count_ages/player_count*100

# Create data frames and merge them
age_demographics = pd.merge(pd.DataFrame(count_ages),pd.DataFrame(percentage_ages),on='Age Group')
age_demographics

# Rename columns and add formatting
age_demographics = age_demographics.rename(columns={'SN_x':'Total Count','SN_y':'Percentage of Players'})
format_df = {'Percentage of Players':'{:.2F}%'}

# Print
age_demographics.style.format(format_df)

## Purchasing Analysis

In [6]:
# Basic calculation to obtain unique items, average price, number of purchases and total revenue
unique_item = purchase_data['Item ID'].nunique()
ave_price = purchase_data['Price'].mean()
purchase_total = purchase_data['Purchase ID'].nunique()
total_revenue = purchase_data['Price'].sum()

In [7]:
# Create DataFrame to present the information
purchasing_analysis = pd.DataFrame({'Number of Unique Items':[unique_item],'Average Price':[ave_price],'Number of Purchases':[purchase_total],'Total Revenue':[total_revenue]})

In [8]:
# Format DataFrame
format_df = {'Average Price':'${:.2f}','Total Revenue':'${:,.2f}'}

In [9]:
# Results
purchasing_analysis.style.format(format_df)

#### Purchasing Analysis by gender

In [22]:
# Basic calculation to obtain purchase count, average purchase price, total purchase value and average total purchase per person
purchase_count = gender_group['Purchase ID'].nunique()
ave_gprice = gender_group['Price'].mean()
total_grevenue = gender_group['Price'].sum()
ave_grevenue = total_grevenue/count_gender

In [ ]:
# Create dataframe to display information
purchasing_ganalysis = pd.DataFrame({'Purchase Count':purchase_count,'Average Purchase Price':ave_gprice,'Total Purchase Value':total_grevenue,'Avg Total Purchase per Person':ave_grevenue})

In [25]:
# Rename columns and add formatting
format_df = {'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:.2f}'}

In [26]:
# Results
purchasing_ganalysis.sort_values(by=['Purchase Count'],ascending=False).style.format(format_df)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Basic calculation to obtain purchase count, average purchase price, total purchase value and average total purchase per person
purchase_acount = ages_group['Purchase ID'].nunique()
ave_aprice = ages_group['Price'].mean()
total_arevenue = ages_group['Price'].sum()
ave_arevenue = total_arevenue/count_ages

# Merge all dataframes
purchasing_aanalysis = pd.merge(pd.DataFrame(purchase_acount),pd.DataFrame(ave_aprice),on='Age Group')
purchasing_aanalysis = pd.merge(purchasing_aanalysis,pd.DataFrame(total_arevenue),on='Age Group')
purchasing_aanalysis = pd.merge(purchasing_aanalysis,pd.DataFrame(ave_arevenue),on='Age Group')

# Rename columns and add formatting
purchasing_aanalysis = purchasing_aanalysis.rename(columns={'Purchase ID':'Purchase Count','Price_x':'Average Purchase Price','Price_y':'Total Purchase Value',0:'Avg Total Purchase per Person'})
format_df = {'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:.2f}'}

# Print
purchasing_aanalysis.style.format(format_df)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Basic calculation to obtain purchase count, average purchase price and total purchase value
players_group = purchase_data.groupby(['SN'])
purchase_pcount = players_group['Purchase ID'].nunique()
ave_pprice = players_group['Price'].mean()
total_prevenue = players_group['Price'].sum()

# Merge all dataframes
purchasing_panalysis = pd.merge(pd.DataFrame(purchase_pcount),pd.DataFrame(ave_pprice),on='SN')
purchasing_panalysis = pd.merge(purchasing_panalysis,pd.DataFrame(total_prevenue),on='SN').sort_values(by=['Price_y'],ascending=False)

# # Rename columns and add formatting
purchasing_panalysis = purchasing_panalysis.rename(columns={'Purchase ID':'Purchase Count','Price_x':'Average Purchase Price','Price_y':'Total Purchase Value'})
format_df = {'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}'}

# # Print
purchasing_panalysis.head().style.format(format_df)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Basic calculation to obtain purchase count, average purchase price and total purchase value
items_group = purchase_data.groupby(['Item ID','Item Name'])
purchase_icount = items_group['Purchase ID'].nunique()
ave_iprice = items_group['Price'].mean()
total_irevenue = items_group['Price'].sum()

# Merge all dataframes
purchasing_ianalysis = pd.merge(pd.DataFrame(purchase_icount),pd.DataFrame(ave_iprice),on=['Item ID','Item Name'])
purchasing_ianalysis = pd.merge(purchasing_ianalysis,pd.DataFrame(total_irevenue),on=['Item ID','Item Name']).sort_values(by=['Price_y'],ascending=False)
purchasing_ianalysis
# Rename columns and add formatting
purchasing_ianalysis = purchasing_ianalysis.rename(columns={'Purchase ID':'Purchase Count','Price_x':'Average Purchase Price','Price_y':'Total Purchase Value'})
format_df = {'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}'}

# Print
purchasing_ianalysis.head().style.format(format_df)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Print
purchasing_ianalysis.head().style.format(format_df)