# Gaming Data

## Loading data

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv('Resources/purchase_data.csv')

## Exploration

### Total number of players

In [3]:
# Count unique players
player_count = purchase_data['SN'].nunique()

pd.DataFrame({'Count of players':[player_count]})

   Count of players
0               576

### Demographics by Gender

In [4]:
# Group by gender and count them
gender_group = purchase_data.groupby(['Gender'])
count_gender = gender_group['SN'].nunique()
percentage_players = count_gender/player_count

In [5]:
# Create data frame
gender_demographics = pd.DataFrame({
    'Total Count': count_gender, 
    'Percentage of Players': percentage_players
})

In [6]:
# Results
gender_demographics.sort_values(by=['Total Count'],ascending=False).style.format({'Percentage of Players':'{:.2%}'})

### Demographics by Age

In [7]:
# Create bins and labels
age_bins = [0,9,14,19,24,29,34,39,np.inf]
age_labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [8]:
# Categorize players with age bins and add column into dataframe
age_demographics = pd.cut(purchase_data['Age'],bins=age_bins,labels=age_labels)
purchase_data['Age Group'] = age_demographics

In [9]:
# Group by age groups and count them
ages_group = purchase_data.groupby(['Age Group'])
count_ages = ages_group['SN'].nunique()
percentage_ages = count_ages/player_count

In [10]:
# Create data frames
age_demographics = pd.DataFrame({
    'Total Count':count_ages, 
    'Percentage of Players':percentage_ages
})

In [11]:
# Results
age_demographics.style.format({'Percentage of Players':'{:.2%}'})

## Purchasing Analysis

### General Analysis

In [12]:
# Basic calculation to obtain unique items, average price, number of purchases and total revenue
total_items = purchase_data['Item ID'].nunique()
ave_price = purchase_data['Price'].mean()
count_purchase = purchase_data['Purchase ID'].nunique()
total_revenue = purchase_data['Price'].sum()

In [13]:
# Create DataFrame to present the information
general_analysis = pd.DataFrame({
    'Number of Unique Items':[total_items],
    'Average Price':[ave_price],
    'Number of Purchases':[count_purchase],
    'Total Revenue':[total_revenue]
})

In [14]:
# Results
general_analysis.style.format({'Average Price':'${:.2f}','Total Revenue':'${:,.2f}'})

### Analysis by Gender

In [15]:
# Basic calculation to obtain purchase count, average purchase price, total purchase value and average total purchase by gender
gender_purchase_count = gender_group['Purchase ID'].nunique()
gender_ave_price = gender_group['Price'].mean()
gender_total_revenue = gender_group['Price'].sum()
gender_ave_revenue = gender_total_revenue/count_gender

In [16]:
# Create dataframe to display information
gender_analysis = pd.DataFrame({
    'Purchase Count':gender_purchase_count,
    'Average Purchase Price':gender_ave_price,
    'Total Purchase Value':gender_total_revenue,
    'Avg Total Purchase per Person':gender_ave_revenue
})

In [17]:
# Results
gender_analysis.sort_values(by=['Purchase Count'],ascending=False).style.format({'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:.2f}'})

### Analysis by Age

In [18]:
# Basic calculation to obtain purchase count, average purchase price, total purchase value and average total purchase by age
age_purchase_count = ages_group['Purchase ID'].nunique()
age_ave_price = ages_group['Price'].mean()
age_total_revenue = ages_group['Price'].sum()
age_ave_revenue = age_total_revenue/count_ages

In [19]:
# Create dataframe
age_analysis = pd.DataFrame({
    'Purchase Count':age_purchase_count, 
    'Average Purchase Price': age_ave_price, 
    'Total Purchase Value':age_total_revenue,
    'Avg Total Purchase per Person':age_ave_revenue
})

In [20]:
# Results
age_analysis.style.format({'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:.2f}'})

### Top Spenders

In [21]:
# Basic calculation to obtain purchase count, average purchase price and total purchase value
players_group = purchase_data.groupby(['SN'])
players_purchase_count = players_group['Purchase ID'].nunique()
players_ave_price = players_group['Price'].mean()
players_total_revenue = players_group['Price'].sum()

In [22]:
# Create dataframe
players_analysis = pd.DataFrame({
    'Purchase Count':players_purchase_count,
    'Average Purchase Price':players_ave_price,
    'Total Purchase Value':players_total_revenue
})

In [23]:
# Results
players_analysis.sort_values(by=['Total Purchase Value'],ascending=False).head().style.format({'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}'})

### Top Popular Items

In [24]:
# Basic calculation to obtain purchase count, average purchase price and total purchase value
items_group = purchase_data.groupby(['Item ID','Item Name'])
items_purchase_count = items_group['Purchase ID'].nunique()
items_ave_price = items_group['Price'].mean()
items_total_revenue = items_group['Price'].sum()

In [25]:
# Create dataframe
items_analysis = pd.DataFrame({
    'Purchase Count':items_purchase_count,
    'Average Purchase Price': items_ave_price,
    'Total Purchase Value': items_total_revenue
})

In [26]:
# Results
items_analysis.sort_values(by=['Purchase Count'],ascending=False).head().style.format({'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}'})

### Top Profitable Items

In [27]:
# Print
items_analysis.sort_values(by=['Total Purchase Value'],ascending=False).head().style.format({'Average Purchase Price':'${:.2f}','Total Purchase Value':'${:,.2f}'})